/* CSS for html tags */
article {
    border: 1px solid black;
    border-radius: 10px;
    width: 700px;
    margin-left: 2em;
    margin-top: 2em;
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
}

form {
    margin: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

fieldset {
    border: none;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    font-weight: bold;
    font-family: Arial;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* CSS Selectors */
input[type='text'], textarea {   
    margin-bottom: 2em;
    width: 60%;
}

input[type='number'] {
    width: 10%;
    margin-bottom: 2em;
}

input[type="submit"] {
    margin: 2em 45% 0px 42.5%;
    font-style: italic;
}

input[type="button"]:hover, input[type="radio"]:hover {
    cursor: pointer;
}

input:invalid, textarea:invalid {
    border: 1px solid red;
}

label[for="school"] {
    color: darkred;
    margin-right: 2em;
}

label[for="work"] {
    color: darkgreen;
    margin-right: 2em;
}
label[for="personal"] {
    color: darkblue;
}

/* CSS IDs */
#template {
    display: none;
}

#chooseCategory {
    margin-right: 10%;
    display: flex;
    flex-grow: 1;
}

#category {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

/* CSS Classes */
.categoryLabel {
    font-weight: normal;
}

.categoryLabel:hover {
    cursor: pointer;
}

/* Styles for The Tasks */
div.taskDiv {
    flex-direction: column;
    padding:3%;
    border-radius: 10px;
}

#workColor {
    border:1em solid darkgreen;
    background-color: #98FB98;
}

#schoolColor {
    border:1em solid darkred;
    background-color: #FA8072;
}

#personalColor {
    border: 1em solid darkblue;
    background-color: #6495ED;
}

.stars {
    font-size: 32px;
    line-height: 32px;
}
